name: 'Deploy redis_exporter'

on:
  push:
    branches:
      - main

permissions:
  packages: write
  contents: read

jobs:
  deploy:
    runs-on: dokploy-x64
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/charlesjones88/redis-exporter:latest,ghcr.io/charlesjones88/redis-exporter:${{ github.sha }}

      - name: Start SSH agent and add deploy key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_DEPLOY_KEY }}

      - name: Pull latest image
        env:
          IMAGE: ghcr.io/${{ github.repository }}:latest
          NODES: ${{ vars.NODES }}
        run: |
          for node in $(echo "$NODES" | jq -r '.[] | @base64'); do
            _jq() {
              echo "${node}" | base64 --decode | jq -r ${1}
            }
            echo "--- Running on $node ---"
            (
              ssh -o StrictHostKeyChecking=no "$(_jq '.username')@$(_jq '.host')" "export GHCR_USERNAME='${{ github.actor }}' GHCR_TOKEN='${{ secrets.GITHUB_TOKEN }}' IMAGE='${{ env.IMAGE }}'; bash -s" < ./pull.sh
            ) &
          done

          wait

      - name: Deploy
        run: |
          curl -X POST ${{ secrets.DOKPLOY_URL }}/api/compose.deploy \
            -H 'accept: application/json' \
            -H 'Content-Type: application/json' \
            -H 'x-api-key: ${{ secrets.DOKPLOY_AUTH_TOKEN }}' \
            -d '{
              "composeId": "${{ secrets.APP_ID }}"
            }'
